* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aqua;
}

header {
  border: black 3px solid;
  background-color:mintcream;
  height: 170px;
}

h1 {
  margin-left: 10px;
  font-size: 50px;
  margin-top: 45px;
  width: 30%;
}

.nav {
  margin-left: 60%;
}

li {
  font-size: 35px;
  display: inline;
  margin: 8px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.projectName:hover {
  font-size: 35px;

}

.aboutMe {
  background-color: mintcream;
  margin-top: 20px;
  height: 500px;
  width: 90%;
  margin-left: 5%;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

.aboutmeInfo {
  font-size: 25px;
  margin-top: 40px;
  width: 80%;
  height: 300px;
  margin-left: 10%;
}

.projects {
  border: black 5px solid;
  display: flex;
  flex-wrap: wrap;
  
}

.project1 {
  height: 300px;
  width: 400px;
  border: 2px solid black;
  border-radius: 3%;
  margin: 10px;
  margin-left: 5%;
  margin-top: 30px;
  text-align: center;
}

.project1 a {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 50px;
}

.icon {
  margin-top: 30px;
}

footer {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

footer a {
  margin: 8px;
}

.name, .email, .message{
  font-size: 25px;
  margin-top: 25px;
  margin-left: 15px;
}

.nameInput, .emailInput {
  width: 20%;
  height: 35px;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 15px;
}

.messageInput {
  margin-top: 15px;
  width: 45%;
  height: 150px;
  margin-left: 15px;
  font-size: 20px;
}